body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.login-container {
  width: 100%;
  height: 100vh;
  background: #A1E39F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smartcity-title {
  font-family: 'Irish Grover', cursive;
  font-size: 90px;
  color: #275041;
  margin-bottom: 40px;
}

.login-box {
  width: 540px;
  background: #EAEAEA;
  padding: 40px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.83);
  text-align: center;
}

.login-heading {
  font-size: 28px;
  margin-bottom: 30px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  outline: none;
}

.signin-btn,
.signup-btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #275041;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.signin-btn:hover,
.signup-btn:hover {
  background: #1f3d33;
  transform: scale(1.02);
}

.signin-btn:hover {
  background: #1f3d33;
}