/* Full Page */
.login-container {
  width: 100%;
  height: 100vh;
  background: #A1E39F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Smart City Title */
.smartcity-title {
  font-family: 'Irish Grover', cursive;
  font-size: 90px;
  color: #275041;
  margin-bottom: 40px;
}

/* Main Signin Box */
.login-box {
  width: 540px;
  background: #EAEAEA;
  padding: 40px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.83);
  text-align: center;
}

/* Heading */
.login-heading {
  font-size: 28px;
  margin-bottom: 30px;
  font-family: Inter, sans-serif;
}

/* Input container */
.input-box {
  margin-bottom: 20px;
}

/* Input styling */
.input-box input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  outline: none;
  font-family: 'Instrument Serif', serif;
}

/* Button */
.signin-btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #275041;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.signin-btn:hover {
  background: #1f3d33;
  transform: scale(1.02);

}

/* Bottom Login Link */
.bottom-link {
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.bottom-link a {
  text-decoration: none;
  color: #275041;
  font-weight: 500;
}